<h1>House of Cocks</h1>

<% @cocktails.each do |cocktail| %>
<h3><%= link_to cocktail.name, cocktail_path(cocktail)  %> <%= link_to "Delete Cock", cocktail_path(cocktail), method: :delete%></h3>
<% end %>

<%= link_to "Add New Cock", new_cocktail_path %>
<br>

